@model List<NYCPaymentPortal.Models.PaymentRequest>

<script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<style type="text/css">
    .webGrid {
        margin: 4px;
        border-collapse: collapse;
        width: 500px;
        background-color: #FCFCFC;
    }

    .header {
        background-color: #C1D4E6;
        font-weight: bold;
        color: #FFF;
    }

    .webGrid th, .webGrid td {
        border: 1px solid #C0C0C0;
        padding: 5px;
    }

    .alt {
        background-color: #E4E9F5;
        color: #000;
    }

    .gridHead a:hover {
        text-decoration: underline;
    }

    .description {
        width: auto;
    }

    .select {
        background-color: #389DF5;
    }
</style>

@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 5, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "grid");
    grid.Pager(WebGridPagerModes.NextPrevious);
}
<div id="grid">
    @grid.GetHtml(

        tableStyle: "webGrid", mode: WebGridPagerModes.All,

                firstText: "<< First",
                previousText: "< Prev",
                nextText: "Next >",
                lastText: "Last >>",
                headerStyle: "header",
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid.Columns(

                grid.Column("Vendor_Code", "Vendor_Code", style: "description"),
                grid.Column("PaymentReqId", "PaymentReqId"),
                grid.Column("PR_Status", "PR_Status"),
                grid.Column("PR_Status", "PR_Status"),
                grid.Column("Vendor_Invoice__", "Vendor_Invoice__"),
                grid.Column("Invoice_Date", "Invoice_Date"),
                grid.Column("Invoice_Submitted_Date", "Invoice_Submitted_Date"),
                grid.Column("Service_Period", "Service_Period"),
                grid.Column("Invoice_Amount", "Invoice_Amount")
         ))

</div>
