@{
    ViewBag.Title = "AddRequest";
}
<style type="text/css">
    .table {
        font-family: Vardana;
        font-size: 15px;
        font-weight: normal;
        display: table;
        border-collapse: collapse;
        border: solid px #C5C5C5;
        width: 100%;
    }

        .table td, th {
            border: 1px solid #C5C5C5;
            padding: 3px 7px 2px;
            background-color: #C5C5C5;
            color: #ffffff;
        }

        .table td {
            border: 1px solid #C5C5C5;
            background-color: #C5C5C5;
            color: #000000;
            font-family: Vardana;
        }
</style>
<table style="width:100%" id="tblAddRequest" class="table-responsive" cellspacing="0" data-page-length='10' data-order='[[ 1, "asc" ]]'>


    <thead>
        <tr>
            <th>Vendor/Code</th>
            <th>FMS Registration</th>
            <th>ConTrak PIN/PO Log Number</th>
            <th>MHY Contract #</th>
            <th>Start Date (Contract/PO)</th>
            <th>End Date (Contract/PO)</th>
            <th>Action</th>
        </tr>
    </thead>

</table>
<div>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#tblAddRequest').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LETTER'
                    }
                ],
                "searching": true,
                "ordering": true,
                "pagingType": "simple_numbers",
                "info": true,
                "ajax": "http://t2ua1282fc3.doitt.nycnet/DOHPaymentPortal/Employee/getEmployees",
                "columns": [
                    { "data": "CompanyName" },
                    { "data": "ContactName" },
                    { "data": "ContactTitle" },
                    { "data": "City" },
                    { "data": "Country" },
                    { "data": "Phone" },
                    { "data": "CustomerID", "render": function (data, type, full, meta)
                        {
                        return '<a href="http://t2ua1282fc3.doitt.nycnet/DOHPaymentPortal/Employee/AddPaymenentRequest"><b>Add Paymenent Request</b></a> &nbsp;&nbsp; <a href="http://t2ua1282fc3.doitt.nycnet/DOHPaymentPortal/Employee/AddPaymenentRequest"><b>View Paymenent Summary</b></a>';
                        //return '<a href="ab.aspx?PaymentID=' + data + '">Add Paymenent Request</a> &nbsp;&nbsp;<a href="ab.aspx?PaymentID=' + data + '">View Paymenent Summary</a>';
                        }
                    }
                ]


            });

            //$("div.toolbar").html('<b>Payment Portal Serach</b>');
        });

    </script>

</div>


